1. read dbf
2. get date from the file name
3. add a column and add the date to it

In [1]:
from dbfread import DBF
from pandas import DataFrame

In [2]:
dbf = DBF(r'C:\Users\taohuang\Downloads\prism-main\PRISM_tmax_stable_4kmD2_20210830.dbf')
frame = DataFrame(iter(dbf))
print(frame)

       GAGE_ID  ZONE_CODE  COUNT      AREA        MIN        MAX      RANGE  \
0     05014000          1      1  0.001736  18.941799  18.941799   0.000000
1     05014500          2      5  0.008681  17.667500  21.418200   3.750700
2     05017500          3     44  0.076389  16.743299  22.178799   5.435499
3     06006000          4      7  0.012153  19.867399  23.690100   3.822701
4     06012500          5     90  0.156250  19.816000  24.766499   4.950499
...        ...        ...    ...       ...        ...        ...        ...
1534  14375100       1535     13  0.022569  26.792999  32.178497   5.385498
1535  14375500       1536      7  0.012153  29.799299  32.455799   2.656500
1536  14377100       1537     40  0.069444  27.258499  34.431801   7.173302
1537  14378200       1538    103  0.178819  24.307600  34.351799  10.044199
1538  11200800       1539     13  0.022569  26.764200  38.167801  11.403601

           MEAN       STD          SUM
0     18.941799  0.000000    18.941799
1     19.179940  1.398554    95.899698
2     19.745895  1.512489   868.819382
3     22.222985  1.159166   155.560898
4     23.030173  1.207957  2072.715551
...         ...       ...          ...
1534  29.431184  1.526524   382.605391
1535  31.112828  0.873603   217.789793
1536  31.925824  2.255091  1277.032970
1537  30.655799  2.181106  3157.547319
1538  33.459054  3.377881   434.967697

[1539 rows x 10 columns]

In [4]:
type(frame)
type(dbf)

dbfread.dbf.DBF

In [7]:
for day in range(20210829,20210830):
    dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main\PRISM_tmax_stable_4kmD2_"+str(20210830)+".dbf")
    frame = DataFrame(iter(dbf))
    frame['date']=day
    print(frame)

       GAGE_ID  ZONE_CODE  COUNT      AREA        MIN        MAX      RANGE  \
0     05014000          1      1  0.001736  18.941799  18.941799   0.000000
1     05014500          2      5  0.008681  17.667500  21.418200   3.750700
2     05017500          3     44  0.076389  16.743299  22.178799   5.435499
3     06006000          4      7  0.012153  19.867399  23.690100   3.822701
4     06012500          5     90  0.156250  19.816000  24.766499   4.950499
...        ...        ...    ...       ...        ...        ...        ...
1534  14375100       1535     13  0.022569  26.792999  32.178497   5.385498
1535  14375500       1536      7  0.012153  29.799299  32.455799   2.656500
1536  14377100       1537     40  0.069444  27.258499  34.431801   7.173302
1537  14378200       1538    103  0.178819  24.307600  34.351799  10.044199
1538  11200800       1539     13  0.022569  26.764200  38.167801  11.403601

           MEAN       STD          SUM      date
0     18.941799  0.000000    18.941799  20210829
1     19.179940  1.398554    95.899698  20210829
2     19.745895  1.512489   868.819382  20210829
3     22.222985  1.159166   155.560898  20210829
4     23.030173  1.207957  2072.715551  20210829
...         ...       ...          ...       ...
1534  29.431184  1.526524   382.605391  20210829
1535  31.112828  0.873603   217.789793  20210829
1536  31.925824  2.255091  1277.032970  20210829
1537  30.655799  2.181106  3157.547319  20210829
1538  33.459054  3.377881   434.967697  20210829

[1539 rows x 11 columns]