Load packages

In [1]:
from dbfread import DBF
import pandas as pd
from pandas import DataFrame
from itertools import chain

In [11]:
# create a df for the first day
day=20140701
yr=2014
#dbf = DBF(r"C:\Users\taohuang\Documents\Tao\Data\Extract_PRISM\output_tmax_dbf\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
dbf = DBF(r"C:\Users\taohuang\Documents\Tao\Data\Extract_PRISM\output_tmax_dbf\PRISM_tmax_stable_4kmD2_"+str(day)+".dbf")
frame = DataFrame(iter(dbf))
frame['date_num']=day
frame_all=frame
frame_all
# 	ID20230117235328391000==USGS 13311450

,Name,ZONE_CODE,COUNT,AREA,MIN,MAX,RANGE,MEAN,STD,SUM,date_num
0,ID20230117235328391000,1,5,0.008681,20.687,22.5,1.813,21.656,0.722056,108.279999,20140701

In [12]:
res = chain(range(yr*10000+601, yr*10000+ 630+1),
            range(yr*10000+701, yr*10000+ 731+1),
            range( yr*10000+ 801, yr*10000+ 829+1) )

for day in res:
#    dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
    dbf = DBF(r"C:\Users\taohuang\Documents\Tao\Data\Extract_PRISM\output_tmax_dbf\PRISM_tmax_stable_4kmD2_"+str(day)+".dbf")
    
    frame = DataFrame(iter(dbf))
    frame['date_num']=day
    frame_all=frame_all.append(frame)
    
frame_all['date'] = pd.to_datetime(frame_all['date_num'], format='%Y%m%d')
    
print(day,frame_all)
print(frame_all['date'].describe())

20140829                       Name  ZONE_CODE  COUNT      AREA        MIN        MAX  \
0   ID20230117235328391000          1      5  0.008681  20.687000  22.500000
0   ID20230117235328391000          1      5  0.008681  16.299000  18.750999
0   ID20230117235328391000          1      5  0.008681  16.051001  18.379999
0   ID20230117235328391000          1      5  0.008681  19.476000  21.771999
0   ID20230117235328391000          1      5  0.008681  17.243999  19.480000
..                     ...        ...    ...       ...        ...        ...
0   ID20230117235328391000          1      5  0.008681  14.656000  16.667000
0   ID20230117235328391000          1      5  0.008681  14.810000  17.195000
0   ID20230117235328391000          1      5  0.008681  19.254000  21.473000
0   ID20230117235328391000          1      5  0.008681  21.704000  23.861000
0   ID20230117235328391000          1      5  0.008681  22.459999  24.900999

       RANGE       MEAN       STD         SUM  date_num       date
0   1.813000  21.656000  0.722056  108.279999  20140701 2014-07-01
0   2.452000  17.556000  1.036146   87.779999  20140601 2014-06-01
0   2.328999  17.256000  0.966355   86.280001  20140602 2014-06-02
0   2.296000  20.635000  0.978074  103.174999  20140603 2014-06-03
0   2.236000  18.368000  0.924030   91.839998  20140604 2014-06-04
..       ...        ...       ...         ...       ...        ...
0   2.011000  15.787800  0.753765   78.939001  20140825 2014-08-25
0   2.384999  16.181400  0.826923   80.907000  20140826 2014-08-26
0   2.219000  20.493000  0.793853  102.464998  20140827 2014-08-27
0   2.157000  22.937801  0.760476  114.689003  20140828 2014-08-28
0   2.441000  23.818600  0.885573  119.092999  20140829 2014-08-29

[91 rows x 12 columns]
count                      91
unique                     90
top       2014-07-01 00:00:00
freq                        2
first     2014-06-01 00:00:00
last      2014-08-29 00:00:00
Name: date, dtype: object

C:\Users\taohuang\AppData\Local\Temp/ipykernel_33352/2769073176.py:16: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(frame_all['date'].describe())

In [13]:
#frame_all['GAGE_ID']=frame_all['GAGE_ID'].astype('str')

#savd pd pf
frame_all.to_csv('frame_all_USGS13311450_2014.csv', index=False)